*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.container-cart{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap ;
}

.card-cart{
    background: white;
    width: 40%;
    margin: 10px;
    border-radius: 15px;
    
}

.card-cart .card-image{
    background-color: rgb(11, 14, 14);
    height: 250px;
    margin-bottom: 15px;
    background-size: cover;
    border-radius: 15px 15px 0 0;
}
.cart-1{
    background-image: url(assets/images/movies.jpg);
}

.cart-2{
    background-image: url(assets/images/comics.jpg);
}

.cart-3{
    background-image: url(assets/images/toys.jpg);
}

.cart-4{
    background-image: url(assets/images/cloths.jpg);
}

.cart-5{
    background-image: url(assets/images/books.jpg);
}

.card-cart h2{
    padding: 10px;
    color: brown;
    font-weight: 800;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-cart p{
    padding: 10px;
    color: black;
    font-weight: 500;
}
.card-cart a{
    background-color: darkred;
    color: white;
    padding: 15px 20px;
    display: block;
    text-align: center;
    margin: 20px 50px;
    text-decoration: none;
    border-radius: 10px;
}

.card-cart:hover{
    background-color: #d3d3d3;
    cursor: pointer;
    transform: scale(1.03);
    transition: all 1s ease;
}


